<center><h1>Results For: <%= @media_query %></h1></center>
<br>
<div class="container-fluid">
  <% @media_results.in_groups_of(3, false).each do |group| %>
    <div class="row">
      <% group.each do |media| %>
        <div class="col-lg-4">
          <div id="media_<%= media.id %>">
            <%= render partial: "shared/media_result", locals: {media: media} %>
          </div>
          <br>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
