<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add to List <span class="caret"></span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Want to Watch</a></li>
    <li><a class="dropdown-item" href="#">Currently Watching</a></li>
    <li><a class="dropdown-item" href="#">Watched</a></li>
  </div>
</div>