<hr>
Special thanks to: 
<br>
<div class="logos row">
  <div class="tmdb-logo col-md-6">
    <%= link_to image_tag('attribution/tmdb-logo-long.png'), 'https://www.themoviedb.org/' %>
  </div>
</div>
<div class="row">
  <div class="wm-logo col-md-6">
    <%= link_to image_tag('attribution/watchmode_logo.png', height:"50px"), 'https://www.watchmode.com/' %>
  </div>
</div>


<br>
This website uses the TMDB API and streaming data is powered by Watchmode.com.
<br>
This website is not endorsed or certified by TMDB or Watchmode.com.
