<ul class="nav nav-pills">
  <% if current_user %>
  <li class="active">
    <%= button_to "My Profile", dashboard_path, class: "btn btn-default", method: :get %>
  </li>
  <li class="active">
    <%= button_to 'Logout', logout_path, class: "btn btn-default", method: :get %>
  </li>
<% else %>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
       data-client_id=<%= "#{ENV['GOOGLE_CLIENT_ID']}"  %>
       data-context="use"
       data-ux_mode="redirect"
       data-login_uri="auth/google_oauth2/callback"
       data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
       data-type="standard"
       data-shape="rectangular"
       data-theme="outline"
       data-text="signin_with"
       data-size="large"
       data-logo_alignment="left">
  </div>
  <% end %>
  <li class="active navbar-right">
    <%= render partial: 'shared/search' %>
  </li>
</ul>

