<h2>Welcome to Streamlined</h2>

<%= form_with url: onboarding_path, method: :patch, local: true do |f| %>
  <%= f.label :user_name, 'Please enter a username' %>
  <%= f.text_field :user_name %>

  <%= f.submit %>
<% end %>
